*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.ctxt
*.package
*.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#OSX Files
.DS_STORE
/code/nbproject/private/
/src/GereVenda/nbproject/private/
/src/GereVenda/build/
/src/AnagramGame/nbproject/private/
Vendas_1M.txt
Vendas_3M.txt
Vendas_5M.txt
Produtos.txt
Clientes.txt
/GereVenda/dist/