.Detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 0 60px;
}

.Detail-heading {
  font-size: 24px;
  font-weight: 300;
}

.Detail-container {
  width: 100%;
  max-width: 400px;
  margin-top: 30px;
  padding: 40px 40px 0;
  border-radius: 4px;
  box-shadow: 0px 0px 40px 0px#1f364d;
}

.Detail-item {
  margin-bottom: 50px;
}

.Detail-value {
  border-radius: 20px;
  background-color: #1f364d;
  font-size: 14px;
  padding: 8px 12px;
  margin-left: 10px;
}

.Detail-title {
  display: block;
  color: #9cb3c9;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
}

.Detail-dollar {
  color: #9cb3c9;
  margin-right: 6px;
}

.Buy-button {
  text-align: center;
  border: none;
  border-radius: 16px;
  background-color: #05c46b;
  transition: background-color .2s;
  color: white;
  cursor: pointer;
  margin: 10px;
  width: 100px;
  height: 34px;
}

.Buy-button:hover {
  background-color: #0be881;
}

.Buy-button:focus {
  outline: none;
}

.Sell-button {
  text-align: center;
  border: none;
  border-radius: 16px;
  background-color: #ff3f34;
  transition: background-color .2s;
  color: white;
  cursor: pointer;
  margin: 10px;
  width: 100px;
  height: 34px;
}

.Sell-button:hover {
  background-color: #ff5e57;
}

.Sell-button:focus {
  outline: none;
}


.display-block {
  display: block;
}

.display-none {
  display: none;
}

 .backdrop {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(109, 109, 109, 0.3);
  }

.modal {
  position:fixed;
  background: #0f273d;
  width: 30%;
  height: 50%;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  }

  .headingname {
    text-align: left;
    margin-left: 3%;
    font-size: 20px;
    font-weight: 400;
    color: #05c46b;
  }

  .currencyname {
    margin-top: 3%;
    font-size: 20px;
    font-weight: 400;
    color: white;
  }

  .closebutton {
  position: fixed;
  top: 83%;
  left: 85%;
  text-align: center;
  border: none;
  border-radius: 15px;
  background-color: white;
  transition: background-color .2s;
  color: #0f273d;
  cursor: pointer;
  margin: 15px;
  width: 30px;
  height: 30px;
  }

  .closebutton:hover {
  background-color: #bbbbbb;
}

.closebutton:focus {
  outline: none;
}

.input_units{
  position: fixed;
  top: 33%;
  left: 3%;
}

.input_amount{
  position: fixed;
  top: 42%;
  left: 3%;
}

 .confirm_button {
  position: fixed;
  top: 29%;
  left: 45%;
  text-align: center;
  border: none;
  border-radius: 2px;
  background-color: white;
  transition: background-color .2s;
  color: #0f273d;
  cursor: pointer;
  margin: 15px;
  width: 70px;
  height: 24px;
  }

.confirm_button:hover {
  background-color: #bbbbbb;
}

.confirm_button:focus {
  outline: none;
}

 .confirm_button2 {
  position: fixed;
  top: 38%;
  left: 45%;
  text-align: center;
  border: none;
  border-radius: 2px;
  background-color: white;
  transition: background-color .2s;
  color: #0f273d;
  cursor: pointer;
  margin: 15px;
  width: 70px;
  height: 24px;
  }

  .confirm_button2:hover {
  background-color: #bbbbbb;
}

.confirm_button2:focus {
  outline: none;
}
