		pushi 0
		pushn 5
		pushi 0
start
		pushi 5
		storeg 0
while0:
		pushg 6
		pushg 0
		inf
		jz while1
		pushgp
		pushi 1
		padd
		pushg 6
		read
		atoi
		storen
		pushg 6
		pushi 1
		add
		storeg 6
		jump while0
while1:
		pushg 0
		pushi 1
		sub
		storeg 6
while2:
		pushg 6
		pushi 0
		supeq
		jz while3
		pushgp
		pushi 1
		padd
		pushg 6
		loadn
		writei
		pushs " , ";
		writes
		pushg 6
		pushi 1
		sub
		storeg 6
		jump while2
while3:
stop
